.video-container 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(7px); /* Adjust the blur amount as needed */
}

.image
{
  width: 20%;
  
  }

.container
{
 text-align: center;
}

.imageproperties1
{
background-color: rgba(240, 255, 255, 0.151);
width: 100%;
}
h2
{
  color: azure;
}
h1
{
  color: chartreuse;
}
.imageproperties2
{
background-color: rgba(247, 102, 5, 0.932);

}
